.css-2b097c-container {
    width: 100%; 
    .css-1pahdxg-control{
        color: #5ac0d9;   
        border: 0.1px solid #5ac0d9;
        box-shadow: 0 0 0 0.25rem hsla(184, 56%, 68%, 0.369) ; 
    }    
}


