.submit_main{
    width: 94.7%; 
    display: contents;
    margin: auto;
    margin-left: auto;
    font-size: 14px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    direction: ltr;
    margin-top: 3rem;
    position: relative;
    .scroll {
        min-width: 360px;  
        img {
            width: 100%;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            align-self: center;
            justify-content: center;
            background-clip: border-box;
            background-size: cover;
        }
            .title {
                display: flex;
                text-align: center;
                margin-top: 2rem;
                align-self: center;
                justify-content: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 700;
                color: #6a6a6a;
                display: block;
                padding: 13px 0 13px;
                background-color: #17a3b814;
                p {
                    color: #17a2b8;
                    text-shadow: 0.5px 0.4px 0.7px white;
                    margin-top: 0.5rem;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";                     
                }
            
        }
        .header_area {
            display: flex;
            flex-direction: row;
            width: 102%;
            margin-top: 1.5rem;
            justify-content: space-evenly;
            align-items: flex-end;
            border-bottom: 1px solid #d6d5d5;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

            .study_levels {
                flex: 1;
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: left;
                gap: 30px;
                 
            }

            .logo {
                display: inline-flex;
                margin-bottom: -1.3rem;

                img {
                    flex: 1;
                    justify-self: right;
                    margin-right: 0;
                    margin-left: auto;
                    width: 310px;
                    height: 115px;
                }
            }
        }
        .forms_container {
            display: block;
            margin-top: 2rem;

            .text {
                color: #606060;
                letter-spacing: 0.5px;
                line-height: 1.5em;
                text-align: justify;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            } 
        } 

        .main_form{
            margin-top: 3rem;
            margin-bottom: 3rem;
            box-shadow: 0 0 15px #c4c4c4;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 20px; 
            &:hover{
                box-shadow: 0 0 15px #93bcc1;
            }
            .main_form_header{
                display: flex;
                align-items: center;
                .department_greek, .department_eng{
                    flex: 1;
                    text-align: center;
                    .university{
                        font-size: 19px;
                        font-weight: 600;  
                        letter-spacing: 1px;                      
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    }
                    .deprtment_first{
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
                .form_logo {                                         
                    position: relative;  
                    width: 165px;    
                    height: 130px;       
                }
            }  
            .academic_year{ 
                text-align: right; 
                margin-top: 3rem;
                margin-right: 8%;
                margin-bottom: 3rem;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 18px;
                font-weight: 600;
                word-spacing: 1px;  
            }      
            .main_form_title{
                font-size: 24px;
                color: #f09f09;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
                padding-bottom: 0.8rem;
                border-bottom: 1px solid #17a2b8;
                margin-bottom: 2rem;
                margin: 0 50px;
            }
            .form_container {
                margin-top: 3rem;
                display: flex;
                flex-direction: row;
                gap: 30px;
                
                padding: 0 50px;
                .StudentInfo{ 
                    display: block;
                    width: 50%;
                    form {
                        .col{
                            margin-bottom: 1rem;
                            .form-label{
                                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                color:#17a2b8;
                                font-size: 12px;
                                font-weight: 600;
                                letter-spacing: 1.2px;
                                margin-bottom: -10px;
                            }  
                            .form-control{
                                border: none;
                                border-bottom: 1px solid #a8a8a8;
                                appearance: none;
                                font-weight: 450;
                               // color: #606060;
                               color: #121111b5;
                                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                &:focus{
                                    box-shadow: 0 0 0.2rem #17a3b860;
                                    color: black;
                                }
                            }
                            .invalidValue, .errorValue{             
                                text-align: left;
                                color: red;
                                display: none;
                                letter-spacing: 0.7px;
                                font-weight: 600;
                                align-self: flex-start;
                                justify-self: left;
                                position: relative; 
                                margin-left: 12px;
                                font-size: 12px;
                                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                margin-top: 5px;
                                margin-bottom: -0.5rem;
                            } 
                        }                      
                    }
                }
                .FormInfo{
                    width: 48%; 
                    display: flex; 
                    flex-direction: column;
                    justify-content: center; 
                    //align-items: center; 
                    //margin-top: auto;
                    //margin-bottom: auto;
                    .formIn {
                        margin-top: auto;
                        margin-bottom: 0;  
                        .infoText{
                            font-size: 18px ;
                            color: #606060;
                            font-weight: 600;
                            margin-bottom: 1rem;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            
                        } 
                        .invalidValue, .errorValue{             
                            text-align: left;
                            color: red;
                            display: none;
                            letter-spacing: 0.7px;
                            font-weight: 600;
                            align-self: flex-start;
                            justify-self: left;
                            font-size: 12px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            position: relative; 
                            margin-left: 10px; 
                            margin-top: 5px;
                            margin-bottom: -0.5rem;
                        }  
                    }     
                    .mb-3 {
                        .form-control{ 
                            &:focus{
                                box-shadow: 0 0 0.2rem #17a3b860;
                            }
                        }                         
                    }  
                    .signature{ 
                        display: block; 
                        align-items: center;  
                        height: 23%;
                        margin-top: auto; 
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 2rem;
                        .signature_text {
                            text-align: center;
                            word-spacing: 4px;
                            color: #606060;
                            font-size: 18px;
                            letter-spacing: 1px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        }          
                        .signatureButton{
                            background-color: #17a3b816;
                            border: 0px;
                            color: #606060;
                            letter-spacing: 1px;
                            font-weight: 500;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            &:hover {
                                color: #17a2b8;
                            }
                        }
                        .invalidValue, .errorValue{             
                            text-align: left;
                            color: red;
                            display: none;
                            letter-spacing: 0.7px;
                            font-weight: 600;
                            align-self: flex-start;
                            justify-self: left;
                            position: relative; 
                            margin-left: 10px; 
                            font-size: 12px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            margin-top: 5px;
                            margin-bottom: -0.5rem;
                        } 
                    }     
                }
                
            } 
        }
        
        .pdfForm{
            background-color: #6a6a6a ;
            align-items: center;
            justify-content: center;
            width: 210mm;
            height: 297mm; 
            display: none;
        }
        .learn_more{   
            position: relative;       
            align-self: end;
            justify-content: end;
            margin: 0px 50px 50px 0;
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: none; 
            text-decoration: none;
            background-color: transparent;
            padding: 0;
            font-family: sans-serif;
            font-size: inherit;
            width: 12rem;
            height: auto; 
            display: block;
            margin-left: auto;
            margin-right: 20px;
            
            .circle{
                transition: all 0.45s cubic-bezier(0.65, 0, 0.76, 1);
                position: relative;
                display: flex;
                margin: 0;
                width: 3.2rem;
                height: 3.2rem;           
                background-color: #17a2b8;
                border-radius: 1.625rem;            
                z-index: 2;            
                .check{
                    transition: all 0.45s cubic-bezier(0.65, 0, 0, 0.76, 1);
                    position: relative;  
                    vertical-align: middle;  
                    top: 1.7px; 
                    left: 0.1rem;
                
                    font-size: 3rem;             
                    color: #fff;
                    z-index: 2;
                }                  
            }      
            .button_text{
                z-index: 1;
                transition: all 0.45s cubic-bezier(0.65, 0, 0.76, 1);
                position: relative;
                top: 0;
                left:-2.65rem;
                right: 0;
                bottom: 0;  
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 0.75rem;
                padding-left: 2rem;
                margin: 0 0 0 1.85rem; 
                color: #17a2b8;
                letter-spacing: 2px;
                text-shadow: .5px 0.5px 0.5px whitesmoke;
                font-weight: 700;
                font-size: 1.1rem;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
            }      
        }
        .learn_more:hover {         
            .circle {             
                width: 100%;  
                box-shadow: 0px 2px 15px 0px rgb(76, 150, 174);   
            } 
            .button_text {
                color:  white; 
                text-shadow: none;
            }
        }
    }
}          
    .new_errorValue{
        text-align: center;
        color: red;
        display: none;
        letter-spacing: 0.7px;
        font-weight: 600;
        align-self: flex-start;
        justify-self: left;
        position: relative; 
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-left: 10px; 
        margin-top: 5px;
        margin-bottom: -0.5rem;
    } 



    @media (max-width:900px) {
        .submit_main{
            .scroll{
        .main_form{            
            margin-top: 3rem;
            margin-bottom: 3rem;
            box-shadow: 0 0 15px #c4c4c4;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 20px; 
            &:hover{
                box-shadow: 0 0 15px #93bcc1;
            }
            .main_form_header{
                display: flex;
                align-items: center;
                .department_greek, .department_eng{
                    flex: 1;
                    text-align: center;
                    .university{
                        font-size: 17px;
                        font-weight: 600;  
                        letter-spacing: 1px;                      
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    }
                    .deprtment_first{
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                .form_logo {                                         
                    position: relative;  
                    width: 150px;    
                    height: 110px;       
                }
            }   
        }
    }
    }
    }