.submit_main{
    width: 94.7%;
    display: block;
    margin: auto;
    margin-left: auto;
    font-size: 14px;
    direction: ltr;
    margin-top: 3rem;
    position: relative;
    .scroll {
        min-width: 360px;  
        img {
            width: 100%;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            align-self: center;
            justify-content: center;
            background-clip: border-box;
            background-size: cover;
        }
            .title {
                display: flex;
                text-align: center;
                margin-top: 2rem;
                align-self: center;
                justify-content: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 700;
                color: #6a6a6a;
                display: block;
                padding: 13px 0 13px;
                background-color: #17a3b814;
                p {
                    color: #17a2b8;
                    text-shadow: 0.5px 0.4px 0.7px white;
                    margin-top: 0.5rem;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";                     
                }
            
        }
        .header_area {
            display: flex;
            flex-direction: row;
            width: 102%;
            margin-top: 1.5rem;
            justify-content: space-evenly;
            align-items: flex-end;
            border-bottom: 1px solid #d6d5d5;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

            .study_levels {
                flex: 1;
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: left;
                gap: 30px;
                 
            }

            .logo {
                display: inline-flex;
                margin-bottom: -1.3rem;

                img {
                    flex: 1;
                    justify-self: right;
                    margin-right: 0;
                    margin-left: auto;
                    width: 310px;
                    height: 115px;
                }
            }
        }

        .forms_container {
            display: block;
            margin-top: 2rem;

            .text {
                color: #606060;
                letter-spacing: 0.5px;
                line-height: 1.5em;
                text-align: justify;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            } 
        } 
        .accordion{
            margin-top: 3rem;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            box-shadow: 0 0 15px #cdcdcd;
            border-radius: 5px;
            .accordion-item{
                background-color: transparent;
                margin-bottom: 0.02rem;
            }
            .accordion-header{
                
                .text_header{
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    color: #17a2b8;
                    font-size: 20px;
                    letter-spacing: 1.5px;
                    font-weight: 500;
                    border-radius: 10px;
                } 
                .accordion-button.collapsed{
                    background: #fff;
                    border: 5px;     
                    .icon_accordion{
                        color: #17a2b8;
                        margin-right: 0.7rem;
                        font-size: 27px;                        
                    }               
                    .text_header {
                        color: #17a2b8;
                        text-shadow: 0px 0px 0px gray;      
                    } 
                                     
                }
                button{
                    background: linear-gradient(to right, #17a2b8, #8dd1d9);
                    .icon_accordion{
                        color: #fff;
                        margin-right: 0.7rem;
                        font-size: 27px;                        
                    }  
                    .text_header{
                        color: #fff;
                        text-shadow: 1px 1px 1px gray;
                    }
                }
            }
            .accordion-collapse {
                background-color: transparent;
                padding: 20px 20px;
                ul {
                    list-style: none;
                    border-left: 1px solid #606060;
                    justify-content: space-between;
                    li{ 
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.81px;
                        margin-bottom: 1rem; 
                        line-height: 2rem;
                        color: #606060; 
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        .insider{ 
                            flex: 2;
                            display: none;
                            position: absolute; 
                            width: 5px;
                            height: 2.5rem; 
                            vertical-align: middle;
                            background-color:#17a2b8;
                            padding-right: -34px;
                            margin-left: -35px;
                            transition: all 0.2s ease-in-out;
                        }
                        &:hover{
                            color: #f09f09;
                            .insider{
                                display: inline;
                            }
                        }
                    }
                                       
                }
            }
        }
    }
}
