.css-480o17-MuiGrid-root{
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; 
    width: calc(100% + 32px);
    opacity: 1;
    margin-left: -32px;  
    .css-1idn90j-MuiGrid-root {
        background-color: rgba(176, 192, 193, 0.086);
        display: grid;
        grid-template-columns: 1fr 0.5fr;    
        column-gap: 50px; 
        margin-left: -0.3rem; 
        box-shadow: 1px 2px 15px #c9c9c9; 
        .first_item{
            text-align: justify;
            margin-bottom: 3rem;
            margin-top: -1rem; 
            padding-left: 15px;
            h3{
                font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; 
                font-size: 30px; 
                line-height: 1.4;
                color: #f09f09;
                font-weight: 700; 
                margin-bottom: 0.3rem;
            }
            span{
                margin: 0px;
                font-weight: 400;
                font-size: 15px;
                color: rgba(34, 51, 84, 0.7);
                font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
                line-height: 1.57;
                text-align: justify;
            }

        }
        .second_item {  
            margin-left: auto;
            margin-right: 2rem;
            align-items: center;
            vertical-align: middle;
            margin-top : auto;
            margin-bottom: auto;
            justify-content: right;
            .css-sghohy-MuiButtonBase-root-MuiButton-root { 
                font-weight: 700;
                letter-spacing: 0.5px;
                font-size: 15.5px;
                background: linear-gradient(145deg, #1c878f, #20b6c1, #189da6);
            }
        }    
    }
}

.form-check{
    display: flex;
    flex-direction: row;
    gap: 10px;
    vertical-align: middle;
    align-items: center;
    overflow: visible;
    color: #189da6;
}
.form-check-input[type=checkbox] {
    color: #1c878f; 
}
input:not([type=range]):not([type=color]){
    padding: 9px                                                                 ;
}
.form-check-input:checked[type=checkbox],  .form-check-input:checked[type=checkbox]{
    padding: 9px;
    background-color: #1c878f;     
}
Form label{
    color:rgb(96, 96, 96)
}

.css-1equabv-MuiGrid-root{
    padding-left: 36px;
    padding-top: 36px;
    .grid2_box {  
        margin-top: -10px;
        box-shadow: 1px 2px 15px #bebdbd; 
        border-radius: 7px;       
        border-top: 5px solid #1c878f6a;
    }    
}
 
.css-1jbg9fq-MuiGrid-root {
    padding-left: 36px;
    padding-top: 36px;  
    .css-1ps6pg7-MuiPaper-root{
        background-color: rgb(255, 255, 255);
        color: rgb(34, 51, 84);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 10px;
        padding: 20px; 
        box-shadow: rgba(159, 162, 191, 0.18) 0px 9px 16px, rgba(159, 162, 191, 0.32) 0px 2px 2px;
        overflow: hidden; 
        max-width: 100%;    
    }
}
 
.form-item_search_courses{ 
    background: #f5f5f5;
    height: 50px;
    display: flex;
    width: 96%;
    align-items: center;
    border-radius: 8px;
    padding: 2px 15px;
    margin-left: 2%;          
    margin-right: 2%;     
    transition: box-shadow .3s;
    z-index: 2; 
    box-shadow: 1px 1px 25px #168d9f2d;
    border: 1px solid #9f9f9f52;
    &:focus-within {
        outline: none;
        box-shadow: 0 0 0.5px 1.5px #17a2b8;
        .react-icon{
            color: #168d9f;
        }
    }
    
    .react-icon{
        color: rgb(165, 165, 165);
        font-size: 20px;
    }
}     

.no_returned_data { 
    min-height: 900px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .no_returned_data_text{ 
        margin-bottom: 4rem;
        z-index: 555;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        letter-spacing: 1px;
        font-size: 20px; 
        padding: 0 20%;
        color: #1c878f;
        font-style: italic;
        text-align: center;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    }
}

.form-input_search_courses { 
    width: 100%;
    border:  none;
    background: none;
    padding: 0px 10px;
    box-shadow: none;
    font-size: 16px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    &:focus {
        outline: none;
        box-shadow: none; 
        font-weight: 700;
    } 
}

.treeItem {
        .MuiTreeItem-label {
            font-weight: 500;
            color: rgba(34,51,84,0.7);
        }
        .table_responsive{
            display: block;
            width: 94%;
            margin-left: 3%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            .table{
                color: inherit;
                margin-top: 10px;
                margin-bottom: 0!important;
                width: 100%; 
                border-collapse: collapse;   
                tbody { 
                    display: table-row-group;
                    vertical-align: middle; 
                    border-color: inherit;
                    tr{                                                  
                        display: table-row;                                      
                        vertical-align: inherit;
                        border-color: inherit;    
                        &:nth-of-type(odd) {                                                  
                            td{                     
                                background-color: transparent;                                 
                                vertical-align: middle;                                            
                                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: 500; 
                                //color:rgb(87, 87, 87);
                                border-color: #E8E9E9;
                                font-size: 14px;       
                                padding: .5vw .45vw;
                                border-top: 1px solid #dee2e6;       
                                width: 20px;
                                height: 20px;
                                line-height: 20px;                            
                            }
                            .middleText{
                                color: #117587;
                            }
                            .icon{
                                display: inline-block;
                                font: normal normal normal 23px/1 FontAwesome;
                                
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                color: #df990f !important;
                            }                     
                            .rightText{
                                color:rgb(87, 87, 87);
                                font-weight: 500;
                                padding-right: 20px;
                                text-align: right!important;
                            } 
                        } 
                        &:nth-of-type(even){                            
                            td{             
                                background-color: rgba(0,0,0,0.04);                                       
                                vertical-align: middle;                                            
                                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: 500; 
                                //color:rgb(87, 87, 87);
                                border-color: #E8E9E9;
                                font-size: 14px;       
                                padding: .5vw .45vw;
                                border-top: 1px solid #dee2e6;       
                                width: 20px;
                                height: 20px;
                                line-height: 20px;                            
                            }
                            .middleText{
                                color: #117587;
                            }
                            .icon{
                                display: inline-block;
                                font: normal normal normal 23px/1 FontAwesome;
                                
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                color: #df990f !important;
                            }                     
                            .rightText{
                                color:rgb(87, 87, 87);
                                font-weight: 500;
                                padding-right: 20px;
                                text-align: right!important;
                            } 
                        }  
                    }
                }
            }
        }
    } 