@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;  
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;  
} 

$form-floating-height:                  add(3.5rem, $input-height-border);
$form-floating-line-height:             1.25;
$form-floating-padding-x:               $input-padding-x;
$form-floating-padding-y:               1rem;
$form-floating-input-padding-t:         1.625rem;
$form-floating-input-padding-b:         .625rem;
$form-floating-label-height:            1.5em;
$form-floating-label-opacity:           .65;
$form-floating-label-transform:         scale(.85) translateY(-.5rem) translateX(.15rem);
$form-floating-label-disabled-color:    $gray-600;
$form-floating-transition:              opacity .1s ease-in-out, transform .1s ease-in-out;

.signup-page { 
    //font-family: 'Poppins', sans-serif;
    display : flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    padding: 1.5rem; 
    min-width: 330px; 
    &:after {        
        content: '';
        position: fixed;
        inset: 0; 
        background: linear-gradient(to bottom right, rgb(243, 247, 248), #63bac7, #17a2b8);
        z-index: -1;
    }
 
    .login-card { 
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 10px 50px -30px black;
        width: 900px;
        border-radius: 30px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 2fr 1.7fr;  
        gap : 0px;       
        a {
            text-decoration: none;
            color: #17a2b8;
            &:hover{ 
                font-weight: 600;
            }
        }
        
        .column {
            padding: 2.5rem 2rem;  
            &:last-child {  
                background: url('college_login2.jpg') center;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                font-weight: 500;
                background-size: cover; 
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                flex-direction: column;/*
                padding-left: 15%;
                padding-right: 15%;*/ 
                gap: 10px;                
                &:after {
                    content: '';
                    position: absolute;
                    background: linear-gradient(90deg, rgb(255, 255, 255), #ffffff90);
                    inset: 0;
                }
                h2{
                    font-size: 28px;
                }

                * {
                    z-index: 1;
                }

                .href {
                    display: inline-block;
                    padding: 10px 25px;
                    font-size: 17px;
                    border: 2px solid #17a3b8c0;
                    box-shadow: 0.5px 0.2px 0.2px #17a2b8;
                    color: black;
                    text-shadow: 1px 1px 2px, #ddd;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all .3s;
                    font-weight: 600;
                    &:hover {
                        background: linear-gradient(to bottom right, #17a2b8, #63bac7, #ddd);
                        color: #fff;
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
                    }
                }
            } 
            
            &:last-child{
                text-align: center;
            }

            img{
                margin-top: -1rem;
                width: 120px;
                align-items: center;
            }
        }  
        .logo{ 
            margin-left: auto;
            margin-right: auto; 
            display: block;
        }

        h1 {
            margin-bottom: 15px;  
            text-align: center;
            color: rgb(66, 66, 66);
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                            
        }
         
    
        .form_group {
            display: flex;
            gap: 5px;
            width: 97%;
        }
        
        .form-item{ 
            width: 97%;
            background: #e6e6e6;
            height: 40px;
            display: flex; 
            align-items: center;
            border-radius: 8px;
            padding: 0 15px;          
            transition: box-shadow .3s;
            z-index: 2;
            &:focus-within {
                outline: none;
                box-shadow: 0 0 0.5px 1.5px #17a2b8;
                .react-icon{
                    color: #168d9f;
                }
            }
            
            .react-icon{ 
                color: gray;   
            } 
        }
        
        .invalidValue, .errorValue{             
            text-align: left;
            color: red;
            display: none;
            letter-spacing: 0.7px;
            font-weight: 600;
            align-self: flex-start;
            justify-self: left;
            position: relative; 
            margin-left: 10px;
            font-size: 10px;
            margin-top: 5px;
            margin-bottom: -0.5rem;
        } 
         

        .form-input { 
            width: 100%;
            border:  none;
            background: none;
            padding: 10px 20px;
            box-shadow: none;
            font-size: 16px; 
            letter-spacing: 1px;            
            //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                            
            &:focus {
                outline: none;
                box-shadow: none; 
            } 
        }
        .auth-form{
            align-items: center;
            justify-content: center;
            text-align: center; 
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
        }
        form{ 
            margin-top: 2rem; 
            
            &>*{
                margin-top: 1rem; 
                margin-left: auto;
                margin-right: auto; 
                display: block;          
            }
    
            .role_choices {
                margin-top: -2rem;
                display: flex;
                width: 90%;
                align-items: center;
                justify-content: space-between; 
                margin-bottom: 3rem; 
                .role {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    justify-content: center;
                    input{
                        appearance: none; 
                        width: 12px;
                        height: 12px; 
                        border-radius: 5%;
                        border: 2px solid #a1a4b5;  
                        z-index: 0;
                        transition: 0.2s;
                        margin-right: 2px;                       
                    }
                    input:checked::before{
                        content: '\2713';
                        display: flex;
                        margin-top: -1.8rem;
                        margin-left: -0.55rem;
                        color: #168d9f; 
                    }
                    input:checked{
                        list-style-type: none;
                        font-size:2em;
                        font-weight:800;
                    }                       
                    label{
                        color: gray; 
                        vertical-align: middle;
                        letter-spacing: 1px;
                        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";             
                    }
                }
            }
            .form-submit{
                background-color: #168d9f;
                color: white;
                border: none;
                padding: 10px 40px;
                border-radius: 50px;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
                border: 1px solid rgba(240, 237, 237, 0.314);
                box-shadow: 1px 1px 6px gray;
                transition: all .2s; 
                display: initial;
                letter-spacing: 2px;
                &:hover, &:active{ 
                    border: 1px solid rgba(245, 245, 245, 0.259);
                    scale: .97;
                    background: linear-gradient(to bottom right, #168d9f, #40aabb);
                } 
            }    
        }
    }
}

@media (max-width:900px) {
    .signup-page{  
        .login-card {
            display: block;
            width: 100%;        
            text-align: center;
            .column { 
                &:last-child{
                    display: none;
                }
            }
        }
    }
    .flex {
        flex-direction: column;
        gap: 1rem
    }
} 

@media (max-width:500px) {
    .signup-page{ 
        .login-card { 
            display: block;
            width: 100%;        
            text-align: center;
            .column {   
                margin: -5rem;
                scale: .70;
                .auth-form{
                    form{
                        .form_group{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                }
                &:last-child{
                    display: none;
                }
            }
        }
    }
}
  

@media (max-width:500px) {
    .signup-page{  
        .login-card { 
            display: block;
            width: 100%;        
            text-align: center;
            .column {   
                margin: -5rem;
                scale: .70;
                .auth-form{
                    form{
                        .form_group{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                }
                &:last-child{
                    display: none;
                }
            }
        }
    }
}
 

@media (max-width:330px) {
    .signup-page{  
        position: relative;
        overflow: hidden;                
        /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
        -ms-overflow-style: none;  /* Internet Explorer and Edge */
        scrollbar-width: none;  /* Firefox */
        /* Hide the scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }  
    }
}
 