@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
:root {
    --Marine-blue: hsl(197, 96%, 18%);
    --Purplish-blue: hsl(243,100%, 62%);
    --Pastel-blue: hsl(228,100%, 84%);
    --Light-blue: hsl(206,94%, 87%);
    --Strawberry-red: hsl(354,84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(193, 47%, 96%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);    
    --Light-blue: hsl(205, 67%, 93%);

    --yellow: #ffdd40;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}


*{
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';   
    padding: 0;
    margin: 0;     
}

.main {
    width: 96%;
    min-height: 250px;    
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: 0.9rem;
    font-size: 14px;
    direction: ltr;
    margin-top: 3rem;
    position: relative; 
    .content {       
        width: 100%;
        min-width: 380px;   
        .row {
            width: 100%;
            display: flex; 
            flex-wrap: wrap;  
            .column {   
                display: inline-flex;
                .box{
                    position: relative; 
                    border-radius: 5px;
                    padding: 0px;
                    transition: .5s;
                    display: -ms-flexbox;
                    display: flex;
                    flex-direction: column;
                    //background-color: black;
                    width: 100%;
                    border-radius: 8px;
                    background-color: rgba(230, 239, 241, 0.515);   
                    box-shadow: 1px 1px 25px 4px rgba(115, 115, 115, 0.182);
                    h2{
                        position: absolute; 
                        margin: 15px 15px; 
                        padding: 5px 20px;
                        letter-spacing: 1px;
                        outline: 3px solid #e19b0f;
                        border: 2px solid #e19b0f;
                        background-color: aliceblue;;
                        color: #117587;
                        font-weight: 700;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    }
                    img{
                        width: 100%;
                        border-top-left-radius: calc(.25rem - 1px);
                        border-top-right-radius: calc(.25rem - 1px);  
                        vertical-align: middle;
                        background-size: cover;
                        max-height: 370px;
                        margin-bottom: -0.3rem;
                    }
                    .box-body{
                        padding: 1.5rem;
                        flex: 1 1 auto;
                        border-radius: 5px;
                        .box_title{  
                            color: #129aaf !important;   
                            display: inline-block;
                            margin: 0;
                            margin-bottom: 0rem;   
                            font-size: 2rem; 
                            letter-spacing: 0.5px;
                            word-spacing: 1px;
                            font-weight: 600;    
                        }
                        .course_label {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            margin-bottom: 1.5rem;
                            .label{
                                font-size: 13px;
                                font-weight: 700;
                                letter-spacing: 1px;
                                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    ;
                                padding: 3px 7px;
                                background-color: #e19b0f;
                                color: white;
                                border-radius: 10px;
                            }
                        }
                        .row_items {                    
                            align-items: center;
                            vertical-align: middle;
                            display: flex;   
                            flex-wrap: wrap;   
                            gap: 15px;
                            .item {
                                text-align: left;
                                display: inline-flex;    
                                flex-wrap: wrap;   
                                align-items: center; 
                                vertical-align: middle; 
                                .item_icon{
                                    color : #df990f;
                                    vertical-align: middle;
                                    margin-right: 3px ;
                                }
                                .title_item { 
                                    font-size: 14px;
                                    color: #117587;
                                    font-weight: 500;                            
                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                    margin-bottom: 0;
                                    margin-top: 0; 
                                }
                                .content_item {
                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                    font-weight: 500; 
                                    font-size: 15px;   
                                    vertical-align: middle;
                                    color: rgb(81, 80, 80); 
                                    padding-top: 1rem;             
                                }
                            }
                            .lt-sp{
                                margin-bottom: -1rem;
                                padding-top: 1.1rem;    
                                color:rgb(81, 80, 80)
                            }
                        } 
                        .wrapper {                            
                            margin: 2rem auto;  
                            height: 60%; 
                            width: 100%;
                            overflow: hidden;   
                            position: relative;
                            align-items: center;
                            .center_line{
                                display: flex;
                                position: absolute;  
                                width: 1px;
                                vertical-align: middle;                                 
                                background: #117587;
                                height: 100%;                                
                                left: 50%;                                 
                                transform: translateX(-50%);
                            } 
                            .cont{
                                display: flex; 
                                margin-top: 2rem;
                                section{
                                    background: rgba(233, 232, 232, 0.955);                            
                                    border-radius: 5px;
                                    width: calc(50% - 19px);
                                    padding: 10px;       
                                    box-shadow: 1px 1px 10px 1px rgb(236, 236, 236);
                                    .details_rec, .details_pre{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        text-align: center;
                                        font-size: 14px;
                                        color: rgb(65, 64, 64);
                                        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                        .icon_rec{
                                            font-size: 13px;
                                            color: rgb(22, 191, 22); 
                                        }
                                        .icon_pre{
                                            font-size: 13px;
                                            color: rgb(232, 5, 5);
                                        }
                                    }    
                                    ul{
                                        padding: 0px 1px;
                                        display: inline-flex;
                                        flex-direction: column; 
                                        flex-wrap: wrap;
                                        list-style: none;
                                        li {
                                            font-size: 14px;
                                            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                            font-weight: 500;
                                            letter-spacing: 1px;
                                            color: #129aaf; 
                                            display: flex;      
                                            flex-wrap: nowrap;
                                            word-break: keep-all; 
                                            vertical-align: middle;  
                                            justify-content: center;            
                                            .point_pre{ 
                                                font-size: 13px;
                                                color: rgb(232, 5, 5);
                                                vertical-align: middle; 
                                                margin-top: 5px;  
                                            } 
                                            .point_rec{
                                                font-size: 13px;
                                                color: rgb(22, 191, 22);
                                                vertical-align: middle; 
                                                margin-top: 5px; 
                                            }
                                            .course{ 
                                                margin-left: 0.1rem;
                                                display: flex;
                                                vertical-align: middle;  
                                                margin-top: 0.25rem;
                                                text-overflow: ellipsis;
                                                flex-direction: column;
                                                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                                h4{ 
                                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                                    font-size: 14.5px; 
                                                    Link{
                                                        color: #df990f;
                                                        text-decoration: none;
                                                    }
                                                } 
                                                p{
                                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";                    
                                                    font-weight: 400;
                                                    text-overflow: ellipsis;
                                                    font-size: 13px;
                                                    color: rgb(65, 64, 64);
                                                }
                                            }                                                                                  
                                        }
                                    }                      
                                } 
                                .arrow{
                                    display: flex;
                                    position: relative;                                    
                                }                     
                                .circle_icon{
                                    display: flex;
                                    position: relative;                                     
                                }       
                            }              
                        }
                        .wrapper .first_row{
                            justify-content: flex-start;
                            margin-left: 0.1rem;
                        }   
                        .wrapper .first_row .arrow::before{
                            left: -8px;
                        }
                        .wrapper .first_row .circle_icon{
                            left: 11px;
                            display: flex; 
                            .text{
                                left: 28px;    
                                align-self: center;
                                justify-content: center;
                                position: absolute;
                                font-weight: 700; 
                                font-size: 18.5px; 
                                display: flex;
                                color: #117587;
                            } 
                        } 
                        .wrapper .second_row .circle_icon{
                            right: 26px;
                            display: flex;
                            .text{
                                right: 13px;   
                                text-align: right;
                                align-self: center;
                                justify-content: center;
                                position: absolute;
                                font-weight: 700; 
                                font-size: 18.5px; 
                                display: flex; 
                                color: #117587;
                            } 
                        }
                        .wrapper .second_row .arrow::before{ 
                            left: -7px;
                        } 
                        .wrapper .second_row{
                            justify-content: flex-end;
                            margin-right: 0.1rem;
                        } 
                        .wrapper .cont .arrow::before{
                            content: "";
                            position: absolute;                       
                            height: 15px;
                            width: 15px;
                            background: rgba(233, 232, 232, 0.955);  
                            top: 42%;
                            z-index: 1;                            
                            transform: rotate(45deg); 
                        }  
                        .wrapper .cont .circle_icon::after{
                            content: "";
                            position: absolute;                       
                            height: 15px;
                            width: 15px;
                            background: #117587;  
                            top: 41.5%;
                            border-radius: 50%;
                            z-index: 1;             
                        }   
                    }
                    .course_details {
                        width: 100%;
                        display: block;
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        .uthLogo{ 
                            margin-top: -2.5rem;
                            margin-bottom: -1rem;
                            width: 63%;
                        }
                        .isActive{
                            display: flex;  
                            align-items: center;
                            justify-content: right;
                            margin-right: 8.3%;
                            .isActive_container {
                                font-size: 16px;
                                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-weight: 700;  
                                .isActive_icon {
                                    margin-left: 0.5rem;
                                    vertical-align: middle;
                                }
                            }                              
                        }
                        .table_responsive{
                            display: block;
                            width: 94%;
                            margin-left: 3%;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            .table{
                                color: inherit;
                                margin-top: 10px;
                                margin-bottom: 0!important;
                                width: 100%; 
                                border-collapse: collapse;   
                                tbody { 
                                    display: table-row-group;
                                    vertical-align: middle; 
                                    border-color: inherit;
                                    tr{                                                  
                                        display: table-row;                                      
                                        vertical-align: inherit;
                                        border-color: inherit;                                         
                                        &:nth-of-type(odd){
                                            background-color: transparent;
                                        }
                                        &:nth-of-type(even){
                                            background-color: rgba(0,0,0,0.04);
                                        }
                                        td{                                                    
                                            vertical-align: middle;                                            
                                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                            font-weight: 500; 
                                            //color:rgb(87, 87, 87);
                                            border-color: #E8E9E9;
                                            font-size: 14px;       
                                            padding: .5vw .45vw;
                                            border-top: 1px solid #dee2e6;       
                                            width: 20px;
                                            height: 20px;
                                            line-height: 20px; 
                                        }
                                        .middleText{
                                            color: #117587;
                                        }
                                        .icon{
                                            display: inline-block;
                                            font: normal normal normal 23px/1 FontAwesome;
                                            
                                            text-rendering: auto;
                                            -webkit-font-smoothing: antialiased;
                                            color: #df990f !important;
                                        }                     
                                        .rightText{
                                            color:rgb(87, 87, 87);
                                            font-weight: 500;
                                            padding-right: 20px;
                                            text-align: right!important;
                                        }   
                                    }
                                }
                            }
                        }
                    }  
                    .main_timeline{
                        overflow: hidden;
                        position: relative;
                        .timeline{
                            position: relative;
                            &:before, &:after{
                                content:'';
                                display: block;
                                width: 100%;
                                height: 100%;
                                clear: both;
                            }
                            
                        }                    
                    } 
                    .staff_box {
                        display: block !important;
                        width: 100%;
                        .staff{
                            align-items: center !important;
                            display: flex !important; 
                            width: 100%; 
                            padding: 20px 25px;
                            position: relative;   
                            
                            .staff_thumb{
                                margin-right: 10px !important;
                                .image_staff{ 
                                    border: 0.5px solid #129aaf;
                                    background-color: rgba(115, 115, 115, 0.123);
                                    font-size: 60px;
                                    color: #129aaf;
                                    padding: 5px;
                                    border-radius: 50%;
                                    max-width: 60px !important;
                                }
                            }
                            .staff_name{
                                display: block; 
                                h5{
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    margin-bottom: 0px !important;
                                    color: rgb(87, 87, 87);
                                    font-size: 17px;
                                }
                                .text_fade{
                                    color: #117587;
                                    font-weight: 400;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    font-size: 14px;
                                }
                            } 
                        } 
                        .border{
                            height: 3px;
                            width: 90% !important;
                            border-top: 0.5px solid #129aaf;
                            position: absolute; 
                            margin-left: 5%;
                        }
                        .staff_info{
                            display: block;
                            padding: 20px 42px;
                            .staff_item{
                                margin-bottom: 7px !important;
                                align-items: center !important;
                                display: flex !important;
                                .info_kind{
                                    background-color: #129aaf !important;
                                    color: #fff;
                                    height: 30px !important;
                                    width: 30px !important;
                                    margin-right: 10px !important;
                                    line-height: 2.142857 !important;
                                    border-radius: 0.25rem !important;
                                    text-align: center;
                                    .fa_item{
                                        display: inline-block;
                                        font-size: inherit;
                                        text-rendering: auto;
                                        -webkit-font-smoothing: antialiased
                                    }
                                }
                                .item_text{
                                    margin-left: 0.5rem;
                                    font-weight: 600;
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    letter-spacing: 0.5px;
                                    font-size: 15px;
                                    color: rgb(87, 87, 87);  
                                    a{
                                        color: #117587;
                                        &:hover{
                                            color: rgb(87, 87, 87);
                                        }
                                    }                                  
                                }
                            }
                        }
                        .instructors_area{ 
                           margin-top: -1rem;
                           padding: 1.5rem;
                           border-radius: 5px;
                           .widget{
                            margin-bottom: 0px !important;
                                .instr_title{
                                    display: flex;
                                    justify-content: right;
                                    font-style: italic;
                                    color: #e19b0f;
                                    margin-bottom: 20px !important;
                                    font-size: 23px;
                                    padding-bottom: 0.5rem;
                                    letter-spacing: 1px;
                                    border-bottom: 0.1px solid #df990f;                                    
                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    font-weight: 600;  
                                    line-height: 1.2;               
                                }
                                .instr_carousel{
                                    display: block;
                                    width: 100%;
                                    -webkit-tap-highlight-color: transparent;
                                    position: relative;
                                    z-index: 1; 
                                    .swiper{
                                        width: 100%;  
                                        .swiper_wrapper{
                                            overflow-x: visible;
                                            display: flex;
                                            position: relative;
                                            justify-content: center;
                                            width: 110%;  
                                            z-index: 999;
                                            .team {
                                                display: block; 
                                                margin-left: -1.3rem;
                                                margin-right: auto;
                                                list-style: none;
                                                .member{
                                                    margin:  1em 0 0 .5em;
                                                    width: 115%;
                                                    padding: 0.8em;
                                                    background-color: #e19b0f; 
                                                    position: relative;
                                                    display: inline-flex;
                                                    transform: scale(0.8);
                                                    transition: var(--trans); 
                                                    margin-left: -2rem;
                                                    .thumb {
                                                        width: 5rem;
                                                        height: 4rem;
                                                        float: left;
                                                        margin-right: 1.3em;
                                                        background: linear-gradient(
                                                            var(--deg),
                                                            var(--dark) 0 72%,
                                                            #df990f 0% 100%
                                                        );
                                                        transform: rotate(-4deg);
                                                        transition: var(--trans);
                                                        border-radius: 0.25em;
                                                        margin-top: 1rem;
                                                        overflow: hidden;
                                                        margin-left: -2em;
                                                        padding: 0.8em;
                                                        z-index: 999; 
                                                        img {
                                                            width: 100%;
                                                            height: 100%;
                                                            border-radius: 0.25em; 
                                                            background: var(--dark);
                                                        }
                                                    } 
                                                    .description {
                                                        padding-top: 0.68rem;
                                                        .cont{
                                                            padding: 1rem 0.2em;   
                                                            display: flex;   
                                                            flex-direction: column;
                                                            .prof_type{
                                                                display: flex;
                                                                gap: 1rem;
                                                                align-items: center;
                                                                font-size: 1.2rem;
                                                                p{
                                                                    font-weight: 500;
                                                                    color: var(--dark);
                                                                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                                                }
                                                                a{
                                                                    font-size: 1.1rem;
                                                                    color: #117587;
                                                                    &:hover{
                                                                        color: rgb(87, 87, 87);
                                                                    }
                                                                }
                                                            }                                                   
                                                        }
                                                        h3 {
                                                            background: rgb(239, 249, 251); 
                                                            display: inline; 
                                                            position: absolute;
                                                            transform: rotate(-2deg); 
                                                            margin: 0;
                                                            margin-top: -2em;
                                                            left: 3.5rem;
                                                            flex-wrap: nowrap;
                                                            padding: 0.1em 0.5em; 
                                                            letter-spacing: 0px;
                                                            color: #e19b0f;
                                                            border-radius: 0.25em;
                                                            font-size: 1.3em;
                                                            word-break: keep-all;
                                                            transform-origin: left bottom;
                                                        }
                                                    }                                                                                                     
                                                }
                                                .member:nth-child(even){ 
                                                    display: block;
                                                    justify-content: right;
                                                    padding: 0.6rem 6rem;
                                                    .thumb{
                                                        float: right;  
                                                        margin-right: -7.3rem; 
                                                        --deg: 86deg;
                                                        transform: rotate(4deg); 
                                                        margin-top: 1rem;                                     
                                                    }    
                                                    .description{
                                                        display: inline-block;  
                                                        h3{ 
                                                            left: inherit;
                                                            right: 9vmin;
                                                            top: 3vmin;
                                                            transform: rotate(2deg);
                                                            transform-origin: right bottom; 
                                                        }       
                                                        .cont{ 
                                                             margin-left: -4rem;
                                                        }                                                                                       
                                                    }

                                                }
                                                .member:hover, .member_even:hover {
                                                    transform: scale(0.82);
                                                    transition: var(--trans);
                                                    filter: drop-shadow(0px 15px 8px rgba(104, 103, 103, 0.533));
                                                    .thumb {
                                                        padding: 0.4em;
                                                        transition: var(--trans);
                                                        transform: rotate(-1deg);
                                                        --deg: -89deg;
                                                        img{
                                                            filter: none ;
                                                            transition: var(--trans);
                                                        }
                                                    }                                                                                                  
                                                }
                                                .member:nth-child(even):hover{
                                                    transform: scale(0.82);
                                                    transition: var(--trans);
                                                    filter: drop-shadow(0px 15px 8px rgba(104, 103, 103, 0.533));
                                                    .thumb {
                                                        padding: 0.4em;
                                                        transition: var(--trans);
                                                        transform: rotate(-1deg);
                                                        --deg: 91deg;
                                                        img{
                                                            filter: none;
                                                            transition: var(--trans);
                                                        }
                                                    }                           
                                                }
                                            }
                                        }
                                    }                                    
                                }
                           }
                        }
                    }                    
                }
            }            
        } 
    }
}

@media (max-width: '1010px') {
    .main{
        .content{
            .row{
                flex-direction: column;
                .column {
                    .box{
                        .uth_logo{
                            width: 50%;
                        }
                    }
                }
            }        
        }
    }            
}

@media (max-width: '380px') {
    .main{
        .content{
            position: absolute;
                overflow: scroll;                
            /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
            -ms-overflow-style: none;  /* Internet Explorer and Edge */
            scrollbar-width: none;  /* Firefox */
            /* Hide the scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
            display: none;
            }
            .row{
                flex-direction: column;
                .column {
                    .box{
                        .uth_logo{
                            width: 50%;
                        }
                    }
                }
            }        
        }
    }
            
}