@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.student_add_page { 
    &:after {               
        content: '';
        position: fixed;
        inset: 0; 
        //background: linear-gradient(to bottom right, rgb(243, 247, 248), #63bac7, #17a2b8);
        z-index: -1;
    }
    .container{ 
        display: flex;
        .left-wrapper{   
            width: 300px; 
            height: 100%;
            background-color: #17a2b8;
        }
        .right-wrapper{
            width: calc(100% - 270px);
        }
    }
}