.form_container{
    width: 100%;
    box-shadow: 5px 5px 15px 5px #e4e4e4;     
    height: fit-content;
    margin-top: -1rem;
    margin-bottom: 2rem;
    .MuiBox-root.css-lx4kgr{
        display: contents;
        .css-xqhexu-MuiPaper-root-MuiAppBar-root{
            background-color: #17a3b81a;
            .css-1ujnqem-MuiTabs-root{
                .css-jpln7h-MuiTabs-scroller{ 
                    .css-heg063-MuiTabs-flexContainer {      
                        button{ 
                            font-size: 18px; 
                            color: #6a6a6a;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            letter-spacing: 1px; 
                            line-height: 45px;
                            svg{   
                                color: #6a6a6a;
                                font-size: 30px;
                                margin-top: 1rem; 
                            } 
                        }
                        .css-1m27246-MuiButtonBase-root-MuiTab-root.Mui-selected {
                            color:#17a2b8; 
                            svg{
                                color: #17a2b8;
                                font-size: 30px;
                                margin-top: 1rem; 
                            }
                        }
                    } 
                    .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator { 
                        background-color: #17a2b8; 
                    }
                }
            }
        }
    }
    .css-ahj2mt-MuiTypography-root{
        background-color: #a4a4a41c;
        .css-19kzrtu { 
            .MuiStepper-vertical, .MuiStep-vertical.MuiStep-completed {
                background-color: #f3f3f30e;
                .MuiStepLabel-root{  
                    .MuiStepIcon-root.MuiStepIcon-active{
                        color: #f09f09; 
                        border-radius: 50%;
                        .MuiStepLabel-labelContainer{ 
                            .MuiStepLabel-label{
                                display: flex;                               
                            }
                        }
                    } 
                    .MuiStepIcon-root.MuiStepIcon-completed{
                        color: #17a2b8;                         
                    }                   
                } 
                .MuiStepContent-root{
                    .MuiCollapse-entered, .MuiCollapse-root{
                        .MuiCollapse-wrapper{
                            .MuiCollapse-wrapperInner{    
                                    .MuiButton-root{                            
                                     color: #818181;   
                                     margin-top: 3rem; 
                                    }
                                    .MuiButton-root.Mui-disabled{
                                       // margin-top: 3rem;
                                        color: #767c7d8a;
                                        text-shadow: 1px 1px 17px #6a6a6aaa;                     
                                    }
                                    .MuiButton-containedPrimary{
                                        color: white;
                                        margin-top: 3rem; 
                                        background:  linear-gradient(145deg, #efa51d, #d5931a, #f09f09bc);
                                       // background: linear-gradient(145deg, #32c0d6, #1fabc1, #1d8190);
                                        box-shadow: 1px 2px 15px rgba(128, 128, 128, 0.685);
                                    } 
                                
                            }
                        }
                    }
                }               
            }     
        }         
    } 
    .css-18rm664-MuiButtonBase-root-MuiIconButton-root{
        background-color: #6a6a6a51;
        box-shadow: 1px 2px 15px #818181;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-left: auto; 
        margin-right: 15px;
        .css-i4bv87-MuiSvgIcon-root {
            width: 2.5rem;
            height: 2.5rem;
            color: #17a2b8;
        }
    }  
}

.modal-backdrop{
    width: 100%;
    height: 100%;
}
.modal{
    --bs-modal-width:750px;
    .modal-header{
        .modal-title{
            color: #5f5f5f;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            h4{
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        }
    }
    .modal-dialog{
        .modal-content{  
            .studentBody {
                height: 550px;
                .complete_message {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    color: #6a6a6a; 
                    margin: 0rem 0.5rem; 
                    font-size: 14.5px;
                    font-size: 400;
                    text-align: justify; 
                    p {
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";                        
                        font-size: 15px;
                        color: #2bb9c3;
                        font-weight: 700;
                        display: inline;                        
                        //margin-left: 0rem;
                        //margin-right: 0.1rem;
                    }
                }
                .profileCard{
                    margin-top: 1rem;
                    align-self: center;  
                    width: 100%;
                    height: 500px;
                    //background-color: var(--Strawberry-red);
                    .wrapper {    
                        height: 435px;
                        padding: 1rem 1rem;
                        display: flex;
                        column-gap: 2rem;
                        border: 1px solid rgba(128, 128, 128, 0.158);
                        box-shadow: 9px 1px 20px 2rem rgba(69, 90, 100, 0.132);
                        .left{
                            width: 33%;  
                            display: flex;
                            flex-direction: column;
                            row-gap: 2rem;
                            align-items: center;
                            justify-content: space-between;
                            background: linear-gradient(145deg, #2aabae, #1599ad);
                            padding: 30px 25px;  
                            border-top-left-radius: 6px;
                            border-bottom-left-radius: 6px; 
                            text-align: center;
                            text-shadow: 1px 1px 1px black;
                            color: #fff;
                            .first_part{
                                align-items: center; 
                                display: flex;
                                flex-direction: column;    
                                img {                          
                                    border-radius: 5px;
                                }   
                                h4 {
                                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                    margin-bottom: 5px;
                                    margin-top: 0.8rem;
                                    font-size: 22px;
                                    letter-spacing: 1px; 
                                }             
                                p{
                                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                    font-size: 15px;
                                    margin-top: 0.5rem;
                                    letter-spacing: 1px;
                                }
                            }
                            .second_part{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: -1rem;
                                padding: 0.2rem 0.2rem;  
                            }   
                        }
                        .right{
                            width: 85%;
                            display: flex;
                            background: #fff; 
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;   
                            .info{
                                padding-right: 10px;
                               // padding-left: 10px;
                                padding-top: -10px;
                                display: flex;
                                flex-direction: column; 
                                margin-left: auto;
                                margin-right: auto;
                                img{                                     
                                    align-self: center; 
                                    margin-right: auto;
                                    margin-left: auto; 
                                    margin-bottom: -0.5rem; 
                                }                     
                                h3{
                                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                    font-size: 20px;
                                    text-shadow: 1px 0.5px 0.2px rgba(136, 136, 136, 0.796);
                                    letter-spacing: 1px;
                                    color: var(--Marine-blue);
                                    margin-bottom: 15px;
                                    padding-bottom: 5px;   
                                    font-weight: 700;
                                    border-bottom: 1px solid var(--Light-gray);
                                }                  
                                .info_data{
                                    display: flex;
                                    flex-direction: column;
                                    margin-top: 0.5rem;
                                    .data{
                                        margin-bottom: -0.4rem;
                                        display: grid;
                                        grid-template-columns: 40% 60%;
                                        column-gap: 10px; 
                                        justify-content: center;
                                        h4{                                          
                                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                            color: var(--Marine-blue);  
                                            font-size: 15px;
                                            margin-left: 0.3rem;
                                        }
                                        p{
                                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                                            //padding-top:4px;
                                            color: rgb(63, 63, 63);
                                            font-size: 14px;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }       
                } 
            }
            .modal-footer{
                button{
                    margin-left: 0.2rem;
                    span{
                        text-transform: none;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
                        &:hover{
                            color: #1599ad;
                            font-weight: 700;
                        }
                    }                  
                }
            }
        }
    }
}

@media only screen  and (max-width:800px){
    .MuiCollapse-wrapper{
        .MuiCollapse-wrapperInner{
            form{
                .mb-3.row{
                    display: flex;
                    flex-direction: column; 
                    gap: 5px;
                }
            } 
        }
    } 
}
