@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
:root {
    --Marine-blue: hsl(197, 96%, 18%);
    --Purplish-blue: hsl(243,100%, 62%);
    --Pastel-blue: hsl(228,100%, 84%);
    --Light-blue: hsl(206,94%, 87%);
    --Strawberry-red: hsl(354,84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(193, 47%, 96%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);    
    --Light-blue: hsl(205, 67%, 93%);
}


*{
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';   
    padding: 0;
    margin: 0; 
}


.student_add_page { 
    &:after {               
        content: '';
        position: fixed;
        inset: 0; 
        //background: linear-gradient(to bottom right, rgb(243, 247, 248), #63bac7, #17a2b8);
        z-index: -1;
    }
    .container{ 
        display: flex;
        
        .left-wrapper{   
            width: 300px;    
            height: 100%;
            background-color: #17a2b8;
        }
        .right-wrapper{
            width: calc(100% - 270px);
            .choose_container{
                position: relative;
                display: flex;
                padding: 80px 40px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px; 
                margin-top: 5rem;
                .card{
                    position: relative;
                    width: 350px;
                    height: 180px;
                    background: #fff;
                    transition: 0.5s;
                }
                .card:hover{
                    height: 450px;
                }  
                .card .lines{
                    position: absolute;
                    inset: 0;
                    background: #000;
                    overflow: hidden;
                }
                .card .lines::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 600px;
                    height: 120px;
                    background: linear-gradient(transparent , #45f3ff, #45f3ff, #45f3ff, transparent);
                    animation: animate1 4s linear infinite; 
                    animation-play-state: paused;
                }
                .card:hover .lines::before{
                    animation-play-state: running;
                }
                .card .lines::after{
                    content: '';
                    position: absolute;
                    inset: 3px;
                    background: #3e3e3e;
                }                  
                .card .imgBox{
                    position: absolute;
                    top: -60px;
                    left: 50%; 
                    width: 150px;
                    height: 150px;
                    transform: translateX(-50%);
                    background: #000;
                    transition: 0.5s;
                    z-index: 10;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                }
                .card .imgBox::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 500px;
                    height: 150px;
                    transform: translate(-50%, -50%);
                    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
                    animation: animate2 6s linear infinite;
                    animation-play-state: paused;
                }   
                .card .imgBox::after{
                    content: '';
                    position: absolute;
                    inset: 3px;
                    background: #3e3e3e;
                }  
                   
            }                
            .card:hover .imgBox {
                top: 25px;
                width: 190px;
                height: 190px;
                &::before{
                    animation-play-state: running;
                }
            }
            .card .imgBox .icon{
                position: absolute;
                z-index: 1;
                font-size: 100px; 
                filter: invert(1);
                opacity: 0.7;
                transition: 0.5s;                
            }          
            .card:hover .imgBox .icon{
                font-size: 120px;
                opacity: 1;
            }  
            .card .content {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                overflow: hidden; 
                .details{ 
                    display: block;
                    padding: 30px 20px;
                    text-align: center;
                    width: 100%;
                    transition: 0.5s;
                    z-index: 12;  
                    //margin-top: 60%;
                    transform: translateY(60%);
                }
            }
            .card:hover .content .details{
                transform:  translateY(0);
            }
            
            .card .content .details h2{
                font-size: 1.5em;
                font-weight: 600;
                color: #45f3ff;
                line-height: 1.2em;
            }
            .card .content .details p{
                opacity: 0;
                color: #fff;
                transition: 0.5s;
                margin-bottom: .5rem;
            }
            .card:hover .content .details p,
            .card:hover .content .details a{
                opacity: 1;
            }
            .card .content .details a{
                display: inline-block; 
                padding: 8px 15px;
                background: #45f3ff;
                color: #292929;
                margin-top: 10px;
                font-weight: 500;
                text-decoration: none;
                opacity: 0;
                transition: 0.5s;
                &:hover{
                    font-weight: 600;
                    box-shadow: 1px 1px 1px whitesmoke;
                }
            }
        }
    }
}

@keyframes animate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
/*
@media only screen  and (max-width:900px){
    
    .card{     
        .content{ 
            .details{          
                margin-top: -3.5rem;                 
            }
        }
    }
    .card:hover .content .details{
        margin-top: 13rem;
    }
}*/

@media only screen  and (max-width:900px){

    .student_add_page{
        .container{
            .left-wrapper{
                width: 300px;
            }
            .right-wrapper{
                width: calc(100% - 270px);
                .choose_container{
                    display: block;
                    margin-left: 100px;
                    margin-right: 0;
                    .card{     
                        margin-bottom: 7rem;
                        
                        .content{ 
                            .details{          
                                margin-top: -3.5rem;                 
                            }
                        }
                    }
                    .card:hover .content .details{
                        margin-top: 13rem;
                    }
                }
            }
        }
    }

}



@media only screen  and (max-width:800px){

    .student_add_page{
        .container{
            .left-wrapper{
                width: 300px;
            }
            .right-wrapper{
                width: calc(100% - 270px);
                .choose_container{
                    display: block;
                    margin-left: 250px;
                    margin-right: 0;
                    .card{     
                        margin-bottom: 7rem;
                        
                        .content{ 
                            .details{          
                                margin-top: -3.5rem;                 
                            }
                        }
                    }
                    .card:hover .content .details{
                        margin-top: 13rem;
                    }
                }
            }
        }
    }

}


@media only screen and (max-width: 750px){

    .student_add_page{
        .container{
            .left-wrapper{
                width: 300px;
            }
            .right-wrapper{
                width: calc(100% - 270px);
                .choose_container{
                    display: block;
                    margin-left: 70%;
                    margin-right: 0;
                    .card{     
                        margin-bottom: 7rem;
                        
                        .content{ 
                            .details{          
                                margin-top: -3.5rem;                 
                            }
                        }
                    }
                    .card:hover .content .details{
                        margin-top: 13rem;
                    }
                }
            }
        }
    }

}

@media only screen  and (max-width:650px){

    .student_add_page{
        .container{
            .left-wrapper{
                display: none;
            }
            .right-wrapper{ 
                margin-left: 0;
                .choose_container{
                    margin-left: 0px;
                    display: block;  
                    .card{     
                        margin-bottom: 7rem;
                        
                        .content{ 
                            .details{          
                                margin-top: -3.5rem;                 
                            }
                        }
                    }
                    .card:hover .content .details{
                        margin-top: 13rem;
                    }
                }
            }
        }
    }

}
