@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
:root {
    --Marine-blue: hsl(197, 96%, 18%);
    --Purplish-blue: hsl(243,100%, 62%);
    --Pastel-blue: hsl(228,100%, 84%);
    --Light-blue: hsl(206,94%, 87%);
    --Strawberry-red: hsl(354,84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(193, 47%, 96%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);    
    --Light-blue: hsl(205, 67%, 93%);
}


*{
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';   
    padding: 0;
    margin: 0; 
}


.student_add_page { 
    &:after {               
        content: '';
        position: fixed;
        inset: 0; 
        //background: linear-gradient(to bottom right, rgb(243, 247, 248), #63bac7, #17a2b8);
        z-index: -1;
    }
    .container{ 
        display: flex;
        .left-wrapper{   
            flex:0.7;  
            height: 100%;
            background-color: #17a2b8;
        }
        .right-wrapper{
            flex: 3;    
        }
    }            
}
 
 